*{
  padding: 0px;
  margin: 0px;
}

img{
  max-width: 100%;
}

#interface{
  font-family: sans-serif;

  margin: auto;
}

#top{
  background-color: rgba(100, 130, 250, 0.97);
  padding: 15px;
  text-align: center;
}

#top img{

}

#top h1{
  color: white;
  display: inline-block;
  font-size: 50px;
}

#menu{
  background-color: rgb(245, 185, 244);
  padding: 20px;
}
